@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

:root {
  --primary: #012a36;
  --secondary: #a5d8ff;
  --tertiary: #19384f;
  --success-primary: #0cf574;
  --success-secondary: #29754b;
  --failure-primary: #d16b75;
  --failure-secondary: #841c26;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: white;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  height: 10%;
  display: flex;
  gap: 2rem;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

#play,
#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--tertiary);
  padding: 2.5rem;
  border-radius: 1rem;
  width: 50%;
}

#counter {
  font-family: "Source Code Pro", monospace;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary);
}

#play p {
  margin-top: 0.5rem;
}

#about {
  width: 60%;
  padding: 2.5rem;
  background-color: var(--tertiary);
  border-radius: 1rem;
}

#about h1 {
  text-align: center;
}

#about p {
  margin-top: 0.5rem;
}

.correct {
  background-color: var(--success-primary);
  color: var(--success-secondary) !important;
  border: 0.125rem solid var(--success-secondary) !important;
}

.correct i::after {
  font-size: 1.25rem;
  content: "check_circle";
  float: right;
}

.correct:hover {
  background-color: var(--success-primary) !important;
  color: var(--success-secondary) !important;
  cursor: default;
}

.wrong {
  background-color: var(--failure-primary);
  color: var(--failure-secondary) !important;
  border: 0.125rem solid var(--failure-secondary) !important;
}

.wrong i::after {
  font-size: 1.25rem;
  content: "cancel";
  float: right;
}

.wrong:hover {
  background-color: var(--failure-primary) !important;
  color: var(--failure-secondary) !important;
  cursor: default;
}

.button {
  margin: 1rem;
  padding: 0.75rem 1.5rem;
  border: 0.125rem solid var(--secondary);
  color: var(--secondary);
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.button.active {
  background-color: var(--secondary);
  color: var(--primary);
}

.mobile-drop {
  position: relative;
  top: 100%;
}

#mobile-answers {
  display: flex;
  flex-direction: column;
}

#mobile-answers a {
  width: 100%;
}
